
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ====== Reset y Variables ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #766a62;
  --text-main: #ffffff;
  --accent: #fff5cd;
  --accent-hover: #fbe86b;
  --accent2: #3b342c;
  --accent2-hover: #1f1c15;
  --card-bg: #483f35;
  --navbar-bg: rgb(26, 18, 8);
  --footer-bg: rgb(26, 18, 8);
  --light: #ececec;
}

/* ====== General ====== */
html, body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-main);
  color: var(--text-main);
  line-height: 1.6;
  overflow-x: hidden;
}

h1, h2 {
  letter-spacing: 0.5px;
}
.text-big{
  font-size: 8em;
}
/* ====== Navbar ====== */
.navbar {
  transition: background-color 0.3s ease;
}
.navbar.scrolled {
  background-color: var(--navbar-bg) !important; 
}
.navbar .nav-link {
  color: #fff !important;
  margin-left: 10px;
  transition: background-color 0.3 ease;
}
.navbar .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.225);
  border-radius: 5px;
}
.active {
  background-color: rgba(255, 255, 255, 0.225);
  border-radius: 5px;
}
.navbar-brand {
  color: var(--light);
}
.dropdown-menu {
  background-color: transparent;
  border-color: transparent;
}
.dropdown-menu.scrolled {
  background-color: var(--navbar-bg) !important; 
}
.dropdown-item{
  color: var(--light);
}
.navbar-toggler {
  border-color: #fff; /* borde blanco */
}

.navbar-toggler-icon {
  background-image: url("assets/imagenes/icons8-menu.svg");
  filter: var(--accent);

}
.custom-navbar-icon{
  color: var(--light);
}
.custom-navbar-icon:hover{
  color: var(--accent-hover);
  filter: drop-shadow(0 0 10px #ffd966);
}
/* ====== Hero ====== */
.hero {
  padding-top: 120px; /* espacio por navbar fijo */
  padding-bottom: 60px;
  background: linear-gradient(180deg, rgba(83, 65, 49, 0.7), rgba(38, 30, 23, 0.9));
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.heroName {
  color: var(--accent);
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.heroName:hover {
  color: var(--accent-hover);
  text-shadow: 0px 0px 20px var(--accent);
}
.star {
  position: absolute;
  width: 80px;
  height: 80px;
  opacity: 0.8;
  transition: transform 0.4s ease, filter 0.4s ease;
}
.star:hover{
  transform: scale(1.2) rotate(15deg);
  filter: drop-shadow(0 0 10px #ffd966);
}
.star-1 {
  top: 15%;
  left: 10%;
}

.star-2 {
  top: 50%;
  left: 85%;
}
.star-3 {
  bottom: 15%;
  right: 25%;
}

.custom-icon{
  color: var(--accent2);
}
.custom-icon:hover{
  color: var(--accent);
  filter: drop-shadow(0 0 2px #201301);
}

/* Stack Tech */
.icon-container{
  position: relative;
  width: 70px;
  height: 70px;
  perspective: 600px;
}
#logoImg{
  display: block;
  width: auto;
  height: 70px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.icon-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-front, .flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* oculta la cara trasera */
  border-radius: 8px;
}

.flip-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.flip-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent2-hover);
  color: white;
  transform: rotateY(180deg);
  font-size: 16px;
  border-radius: 15px;
}

/* ====== Cards ====== */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--card-bg);
  color: var(--light);
  height: 100%;
  border: transparent;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.card-img-top{
  width: 100%;
  height: auto;
  max-height: 200px;
}
.card-icon{
  width: 100%;
  max-width: 25px;
  height: auto;
  margin: 0;
  padding: 0;
}

/* ===== Buttons ====== */
.btn-dark {
  background-color: #000;
  border-color: #000;
  transition: all 0.3s ease;
}

.btn-dark:hover {
  background-color: #fff0ba;
  border-color: #fff0ba;
  color: #000000;
}
.btn-light {
    margin: 0 1rem 1rem 1rem; 
    text-align: center;
}
.btn-light:hover {
    background-color: var(--navbar-bg);
    border-color: var(--navbar-bg);
    color: var(--light);
    
}
.btn-outline-brown{
  border-color: var(--accent2);
  text-align: center;
}
.btn-outline-brown:hover {
    background-color: var(--accent2);
    border-color: var(--accent2-hover);
    color: var(--light);
    
}

/* ====== Footer ====== */
.footer-custom {
  background-color: var(--footer-bg);
  color: var(--light);
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

/* =========Proyectos=========== */
.proyecto {
      display: none; 
    }
.detalle-img{
   width: 100%;
  object-fit: cover;
  height: 450px;
  filter: brightness(95%);
}
.mainproyecto{
  padding-top: 180px; /* espacio por navbar fijo */
  padding-bottom: 60px;
  background: linear-gradient(180deg, rgba(83, 65, 49, 0.7), rgba(38, 30, 23, 0.9));
  min-height: 100vh;
}
.text-accent {
  color: #221a0f;
}
.underline {
  width: 80px;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
}
.underline2 {
  width: 120px;
  height: 4px;
  background: var(--accent);
  border-radius: 2px;
}
.underline-brown {
  width: 80px;
  height: 4px;
  background: var(--accent2);
  border-radius: 2px;
}
.hero-carousel-img{
  width: 100%;
  height: auto;
  max-height: 600px;
}
.thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.7;
  }
  .thumbnail:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  .border-transparent {
    border-color: transparent !important;
  }
  .paleta{
    width: 100%;
    height: auto;
    max-width: 800px;
    align-items: center;
  }
  .wireframe{
    width: 100%;
    height: auto;
    max-width: 400px;
  }
/* =====CV===== */
.container-cv{
  background-color: #ffffff;
  border-color: #150d01;
  border-radius: 10px;
  padding: 50px;
  margin: 100px;
  color: #000000;
  margin-left: 100px;
  box-shadow: 2px 2px 10px #150d01;
}
.img-cv{
  height: auto;
  width: 100%;
  max-width: 400px;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 10px;
}
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(37, 29, 18);
  top: 0;
  bottom: 0;
  margin-left: -3px;
}
.timeline-block {
  padding: 10px 40px;
  position: relative;
  background-color: rgba(52, 32, 23, 0.062);
}
.timeline-block::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--footer-bg);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
  left: -12px;
}
hr.cvline{
  border: 3px solid #150d01;
  border-radius: 5px;
}
.cert-date{
  margin-bottom: 8px;
}
section p, ul li {
  font-size: 1.05rem;
  line-height: 1.8;
}

/*===== BLOG====== */
.img-blog {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease, filter 0.6s ease;
  border-radius: 0.5rem;
}

/* Cuando el acordeón está abierto */
.card.open .img-blog {
  transform: scale(1.1);      /* Efecto de zoom suave */
  filter: brightness(1.1);    /* Opcional: aclara ligeramente la imagen */
}

/* ====== Responsive ======*/
@media (max-width: 850px) {
    body {
    padding-top: 70px;
  }
  .hero {
    font-size: 0.8em;
  }
  .navbar {
  background-color: #1a1208 !important; 
  transition: background-color 0.3s ease;
}
  .navbar .nav-link {
    margin-left: 0;
  }
.navbar-collapse {
    background-color: #1a1208; 
  }
  .navbar-collapse .nav-link,
  .navbar-collapse .dropdown-item {
    color: #fff; 
  }

  #logoImg {
    height: 50px;
  }
  .card-img-top{
  width: 100%;
  height: auto;
  max-height: 300px;
  }
.container-cv{
  border-radius: 0px;
  margin: auto;
  }
  .star {
  width: 45px ;
  height: 45px;
  }
  .star-1 {
      top: 10%;
      left: 5%;
  }
  .star-2 {
      top: 55%;
      left: 80%;
  }
  .star-3 {
      bottom: 10%;
      right: 10%;
  }

}